---
const API_URL =  `${import.meta.env.PUBLIC_API_URL}/api/about-me`
const response = await fetch(API_URL)
const data = await response.json()
const { Name, Description } = data.data.attributes
---

<section class="aboutme container" id="sobre-mi">
  <div class="profile">
    <img class="profile__img" src="profile-about.png" alt="María Alicia Cabrera Mejía" />
  </div>
  <article class="content">
    <h3 class="name">{Name}</h3>
    <p class="description">{Description}</p>

    <hr>
    <h4 class="awards">condecoraciones</h4>
    <ul class="awards__list">
      <li class="awards__item">
        <img class="awards__img" src="concejo-bogota.png" alt="puede ser una imagen del consejo de bogotá">
          <div class="awards__item-description">
            <h5 class="awards__title">Proposición</h5>
            <p class="awards__desc">Concejo de Bogotá 2005.</p>
          </div>
      </li>
      <li class="awards__item">
        <img class="awards__img" src="centro-poetico.png" alt="puede ser una imagen del centro poético colombiano">
          <div class="awards__item-description">
            <h5 class="awards__title">Medalla de Oro</h5>
            <p class="awards__desc">Centro Poético Colombiano 2013.</p>
          </div>
      </li>
      <li class="awards__item">
        <img class="awards__img" src="centro-poetico.png" alt="puede ser una imagen del centro poético colombiano">
          <div class="awards__item-description">
            <h5 class="awards__title">Lira de Oro</h5>
            <p class="awards__desc">Centro Poético Colombiano 2019.</p>
          </div>
      </li>
    </ul>
  </article>
</section>

<style>
  .aboutme {
    padding: 0 1rem 4rem;
  }

  .profile {
    display: block;
    margin: 4rem auto;
    width: 22.8rem;
    height: 22.8rem;
    position: relative;
  }

  .profile__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
  }

  .name {
    font-family: var(--font-title);
    font-size: var(--font-md);
    text-align: center;
  }

  .description {
    font-family: var(--font-body);
    font-size: var(--font-normal);
    line-height: 1.5;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 75ch;
    margin: auto;
    text-align: justify;
  }

  hr {
    border-top: 1.5px solid var(--color-gray);
    max-width: 85ch;
    margin: 3rem auto 0;
  }

  .awards {
    font-family: var(--font-title);
    font-size: var(--font-sm);
    text-align: left;
    text-transform: uppercase;
  }

  .awards__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 1.5rem;
  }

  .awards__item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
  }

  .awards__img {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    aspect-ratio: 1/1;
    box-shadow: 0 0 .3rem var(--grey);
    border-radius: 50%;
  }

  .awards__item-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .awards__title {
    margin: 2.5rem 0 0;
    line-height: 0;
    font-family: var(--font-title);
    font-size: var(--font-xm);
  }

  .awards__desc {
    margin-top: 1.5rem;
    font-family: var(--font-body);
    font-size: var(--font-normal);
  }

  @media (min-width: 768px) {
    .aboutme {
      display: grid;
      grid-template-columns: 1fr 30rem;
      place-items: center;
    }

    .profile {
      margin-top: -15rem;
      margin-left: -3rem;
      width: 35rem;
      height: 35rem;
      order: 2;
      z-index: -1;
    }

    .profile::before {
      width: 15rem;
      height: 15rem;
      top: 0;
      left: 25rem;
    }

    .profile::after {
      width: 15rem;
      height: 15rem;
      top: 25rem;
      left: -5rem;
    }

    .name {
      font-size: var(--font-xl);
      text-align: left;
      margin: 8rem auto 0;
    }

    .description {
      font-size: var(--font-normal);
      text-align: justify;
      max-width: 75ch;
      margin: 2rem 0 0;
      z-index: 1;
    }

    hr {
      margin: 4rem 0;
    }
  }
</style>
