---
import { ToggleMenu } from "./ToggleMenu";
import { Nav } from "./Nav";
---

<header class="header">
  <a href="/" class="logo">María Alicia</a>
  <Nav client:media='(max-width: 768px)' /> 
  <ToggleMenu client:media='(max-width: 768px)' />
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: var(--header);
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    max-width: 120rem;
    margin: 0 auto;
  }

  .logo {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-title);
    font-size: var(--font-sm);
  }

  :global(.nav) {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    font-family: var(--font-body);
    font-size: var(--font-sm);
    background: var(--white);
    font-weight: 300;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  :global(.nav__link) {
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 300;
  }

  :global(.nav__link:last-child) {
    border-right: none;
  }

  :global(:has(.burger.active)) :global(.nav) {
    transform: translateY(0);
  }

  :global(.burger) {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: var(--font-md);
  }

  @media (min-width: 768px) {
    :global(.burger) {
      display: none;
    }

    :global(.nav) {
      position: static;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      column-gap: 1.5rem;
      align-items: center;
      background: none;
      transform: translateY(0);
    }

    :global(.nav__link) {
      color: var(--black);
      font-size: var(--font-normal);
      transition: color .3s ease-in-out;
      border-right: 1px solid var(--black);
      padding-right: 1rem;
    }

    :global(.nav__link:hover) {
      color: var(--green);
    }
  }

</style>
