---
import "animate.css";
import { BibliotecaSwiper } from "./BibliotecaSwiper";
import GridBiblioteca from "./GridBiblioteca.astro";
import { fetchAPI } from "../../utils/api";

const { data: libros } = await fetchAPI('/api/libros?populate=*')
---

<main>
  <h1 class="animate__animated animate__fadeIn">Mis libros</h1>
  <GridBiblioteca data={libros} />
  <section class="section animate__animated animate__fadeIn">
    <BibliotecaSwiper client:load data={libros} />
  </section>
</main>

<style>
  main {
    min-height: 100vh;
    background: var(--cream);
  }

  h1 {
    position: relative;
    font-size: var(--font-xxl);
    line-height: 0;
    margin: 0;
    padding-top: var(--header);
    text-align: center;
    max-width: 120rem;
    margin: 0 auto;
    z-index: 1;
    top: 4.5rem;
  }

  .section {
    background: var(--cream);
    padding: 8rem 0 4rem;
    max-width: 120rem;
    margin: 0 auto;
    animation-delay: 0.5s;
  }

  @media (min-width: 768px) {
    h1 {
      top: 7rem;
      text-align: left;
    }

    .section {
      padding: 0 0 4rem;
    }
  }
</style>
