---
import 'animate.css';
import { BibliotecaSwiper } from "./BibliotecaSwiper"
import GridBiblioteca from "./GridBiblioteca.astro";
const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/api/libros?populate=*`)
const { data } = await response.json()
---

<main>
  <h1 class="animate__animated animate__fadeIn">Mis obras</h5>
  <section class="section animate__animated animate__fadeIn">
    <BibliotecaSwiper client:load data={data} />
  </section>
  <GridBiblioteca data={data} />
</main>

<style>
  main {
    min-height: 100vh;
    background: var(--cream);
  }

  h1 {
    position: relative;
    font-size: var(--font-xxl);
    line-height: 0;
    margin: 0;
    padding-top: calc(var(--header) + 2rem);
    text-align: center;
    max-width: 120rem;
    margin: 0 auto;
    z-index: 1;
  }

  .section {
    background: var(--cream);
    padding: 8rem 0 4rem;
    max-width: 120rem;
    margin: 0 auto;
    animation-delay: 0.5s;
  }

  @media (min-width: 768px) {
    h1 {
      padding-top: 12rem;
      text-align: left;
    }

    .section {
      padding: 0 0 4rem;
    }
    
  }

</style>
